form tr td div label input {
    display: none;
}

label > input + img {
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + img {
    border:4px solid #0000FF;
}

.control-label {
    padding: 10px;
    margin: 0;
}

.nav-link.link {
    text-align: right;
}

.btn + .btn {
    margin-left: 0;
}

#footer1-7 {
    background-color: rgb(0, 0, 0);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.grecaptcha-badge {
    display: none !important;
}
